@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Core */
  --font-family-header: "Space Grotesk";

  /* Dark Theme colorscheme  */
  --background-dark-color: #1f1f23;
  --code-background-color: #1d1d23;
  --code-surface-border-color: #393939;
  --text-dark-color: #ebebeb;
  --primary-color: #00ff80;
  --link-visited-color: #41bf82;
  --block-quote-border: #ffa600;
  --block-quote-background: #333333;

  /* Sizes */
  --content-top-margin: 100px;
  --hero-height: calc(100dvh - var(--content-top-margin));
  --max-post-card-width: 825px;
}

@layer base {
  :is(h1, h2, h3, h4, h5, h6) {
    filter: contrast(1.4);
    font-family: var(--font-family-header);
    @apply font-black;
  }

  header {
    font-family: var(--font-family-header);
  }

  footer {
    font-family: var(--font-family-header);
  }

  p {
    font-size: 14pt;
  }

  blockquote {
    background-color: var(--block-quote-background);
    padding: 12px;
    padding-left: 16px;
    font-family: Space Grotesk;
    border-left: 4px dashed var(--block-quote-border) !important;
  }

  blockquote strong {
    color: var(--block-quote-border) !important;
  }

  html {
    background-color: var(--background-dark-color);
    color: var(--text-dark-color);
    min-height: 100vh;
  }

  .tag {
    padding-inline: 5px;
    font-family: var(--font-family-header);
    font-weight: 465;
  }
}
