---
import "./PostLayout.styles.css";
import BaseLayout from "./BaseLayout.astro";

const { title } = Astro.props;
---

<BaseLayout title={title}>
  <main class="flex flex-col items-center justify-center w-full px-4 blogPost md:flex-row md:px-24">
    <article class="mt-5">
      <slot />
    </article>
    <aside></aside>
  </main>
  <footer></footer>
</BaseLayout>
