---
import "./PostLayout.styles.css";
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout>
  <main class="flex flex-row flex-col items-center justify-center px-4 md: md:px-24 blogPost">
    <article class="w-full space-y-5 lg:max-w-[800px]">
      <slot />
    </article>
    <aside></aside>
  </main>
  <footer></footer>
</BaseLayout>
