---
import PostLayout from "../components/layouts/PostLayout.astro";
---

<PostLayout>
  <h1>Hello World</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus perspiciatis animi
    voluptate corporis corrupti adipisci qui debitis minus culpa beatae numquam cum ea soluta
    incidunt, quidem accusantium <a href="#">dignissimos vero dolorum?</a> Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Deserunt, officiis repellat corrupti possimus assumenda distinctio dignissimos
    odit ullam debitis tempora, nulla vel voluptas, maxime aut? Incidunt fuga tempore vero quasi.
  </p>
  <h2>Hello World</h2>
  <p>
    <strong>Lorem ipsum dolor sit amet,</strong> consectetur adipisicing elit. Necessitatibus perspiciatis animi
    voluptate corporis corrupti adipisci qui debitis minus culpa beatae numquam cum ea soluta
    incidunt, quidem accusantium dignissimos vero dolorum? Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Deserunt, officiis repellat corrupti possimus assumenda distinctio dignissimos
    odit ullam debitis tempora, nulla vel voluptas, maxime aut? Incidunt fuga tempore vero quasi.
  </p>
  <h3>Hello World</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus perspiciatis animi
    voluptate corporis corrupti adipisci qui debitis minus culpa beatae numquam cum ea soluta
    incidunt, quidem accusantium dignissimos vero dolorum? Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Deserunt, officiis repellat corrupti possimus assumenda distinctio dignissimos
    odit ullam debitis tempora, nulla vel voluptas, maxime aut? Incidunt fuga tempore vero quasi.
  </p>
  <h4>Hello World</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus perspiciatis animi
    voluptate corporis corrupti adipisci qui debitis minus culpa beatae numquam cum ea soluta
    incidunt, quidem accusantium dignissimos vero dolorum? Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Deserunt, officiis repellat corrupti possimus assumenda distinctio dignissimos
    odit ullam debitis tempora, nulla vel voluptas, maxime aut? Incidunt fuga tempore vero quasi.
  </p>
  <h5>Hello World</h5>
  <img src="https://th.bing.com/th/id/OIP.XHoOizTBieYD6h253pow1wHaDK?rs=1&pid=ImgDetMain" />
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus perspiciatis animi
    voluptate corporis corrupti adipisci qui debitis minus culpa beatae numquam cum ea soluta
    incidunt, quidem accusantium dignissimos vero dolorum? Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Deserunt, officiis repellat corrupti possimus assumenda distinctio dignissimos
    odit ullam debitis tempora, nulla vel voluptas, maxime aut? Incidunt fuga tempore vero quasi.
  </p>
  <h6>Hello World</h6>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus perspiciatis animi
    voluptate corporis corrupti adipisci qui debitis minus culpa beatae numquam cum ea soluta
    incidunt, quidem accusantium dignissimos vero dolorum? Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Deserunt, officiis repellat corrupti possimus assumenda distinctio dignissimos
    odit ullam debitis tempora, nulla vel voluptas, maxime aut? Incidunt fuga tempore vero quasi.
  </p>

  <pre>
    <code>
CREATE OR REPLACE FUNCTION name_of_function(param INTEGER)
RETURNS VOID AS $$
DECLARE var_name VARCHAR := "Initial Value"
-- DECLARE .... Declarar mas variables iniciales, a utilizar
BEGIN
	-- Cuerpo de la funcion
END
$$ LANGUAGE plpgsql
    </code>
  </pre>
</PostLayout>
