---
interface Props {
  text: string;
  link?: string
}

const { text, link }: Props = Astro.props;
---

<a href={link ?? null}>
  <button
    class="p-3 md:w-fit w-full bg-[var(--primary-color)] text-slate-950 font-bold uppercase hover:brightness-75 active:scale-90 transition-transform"
    >{text}</button
  >
</a>
