<footer
  class="z-10 flex items-center justify-center w-full mt-16 border-t-8 border-dashed p-14 border-y-zinc-800 backdrop-blur-sm"
>
    <div class="flex flex-col items-center justify-center gap-3 text-center w-fit">
      <span>Hecho con ❤️ por la comunidad Open Source de la UCI</span>
        <span class="">©️ 2024 UCI Devs</span>
    </div>
</footer>
