---
interface Props {
  isBlog: boolean
}

import Button from "../components/Button.astro";
const { isBlog } = Astro.props;
---

<header
  class="z-10 flex flex-col items-center justify-between w-full gap-5 p-5 border-b md:fixed md:flex-row border-y-zinc-600 backdrop-blur-sm"
>
    <a href="/" class="flex items-center gap-3">
        <img src="/images/uci-logo.png" class="w-20 brightness-0 invert" />
        <h2 class="text-4xl font-black">Devs</h2>
    </a>

    { isBlog && <Button text="Publicar"/> }
</header>
