<div
  class="flex flex-col md:flex-row gap-5 p-3 border rounded-md border-neutral-700 bg-neutral-900 md:max-w-[--max-post-card-width] w-full hover:brightness-125 hover:ring-1 hover:ring-[--primary-color] hover:-translate-y-2 transition-all cursor-pointer"
>
  <img
    src="https://th.bing.com/th/id/OIP.avb9nDfw3kq7NOoP0grM4wHaEK?rs=1&pid=ImgDetMain"
    alt=""
    class="rounded-md md:w-72 aspect-video"
  />
  <div class="flex flex-col gap-2">
    <h3 class="text-3xl font-bold">Post Title</h3>
    <div> <span class="text-[--primary-color]">🧑 Leonardo</span> | 📅 2023-23-23</div>
    <div class="flex gap-1">
      <span class="text-black bg-white ">#tag1</span>
      <span class="text-black bg-white ">#tag2</span>
      <span class="text-black bg-white ">#tag3</span>
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias error rem dignissimos facilis
      tenetur officia delectus qui!...
    </div>
  </div>
</div>
